* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(148, 148, 250);
}

.container,section {
    margin: 50px auto;
    max-width: 540px;
    width: 100%;
}

section {
    background-color: white;
    width: 500px;
    padding: 10px;
    border-radius: 5%;
}

.container h1 {
    margin-bottom: 16px;
    text-align: center;
}

input,button {
    padding: 8px;
    margin-bottom: 8px;
    width: 40%;
    resize: none;
    display: block;
}

button {
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: rgb(184, 182, 182);
}

#result {
    font-size: 20px;
    text-align: center;
}

